.clear { clear: both; }
#page-wrap {
    width: 800px;
    /*margin: 40px auto 60px; */
    margin: 50px 0 0 0;
}
/*https://stackoverflow.com/a/16507041/2069858*/
ul.dashed {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}
ul.dashed > li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}

dd.clear { float: none; margin: 0; height: 15px; }